html,
body {
  height: 100%;
  margin: 0;
}


#frame {
  background-color: bisque;
  width: 250px;
  height: 150px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

#frame1 {
  background-color: bisque;
  width: 250px;
  height: 100px;
  margin: auto;
  text-align: center;
  padding: 5px;
  align-content: center;
}

#allspace {
  height: 100%;
  width: 100%;
}

#frame2 {
  background-color: bisque;
  width: 450px;
  height: 150px;
  margin: auto;
  padding: 10px;
  /* align-content: center; */
}

#frame3 {
  background-color: bisque;
  width: 650px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  /* align-content: center; */

}

#border {
  display: flex;
  border: 2px solid blue;
}

#html {
  margin: 10px;
}

ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  align-content: center;
  background-color: blue;
  color: aliceblue;
  list-style-type: none;
  text-align: center;
}

li {
  padding: 10px;
}

li:hover {
  background-color: cadetblue;
}

#border>div {
  margin: 10px;
}


#frame4 {
  background-color: bisque;
  width: 800px;
  height: fit-content;
  margin: auto;
  padding: 30px;
  /* align-content: center; */
}

.headbtn {
  float: right;
}

#frame5 {
  width: 200px;
  height: 100px;
  background-color: bisque;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#outer {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
}

#inner {
  width: 0;
  height: 30px;
  /* text-align: center;
  line-height: 30px;
  color: white; */
  border-radius: 5px;
  /* transition: width 0.5s; Додаємо плавний перехід */
  background-color: rgb(0, 128, 90);
}

#frame6 {
  width: max-content;
  margin: auto;
  height: max-content;
  background-color: bisque;
  padding: 5px 0;
}

table {
  margin: 20px;
}


table,
th,
td {

  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

#frame7 {
  margin: auto;
  width: 600px;
  background-color: bisque;
  padding: 20px;
}

#frame8 {
  margin: 0 auto;
  width: 120px;
  height: 30px;
  background-color: bisque;
  padding: 0 20px;
  color: white;
}

section {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: deepskyblue;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}

section>img {
  float: left;
  height: 30px;
  width: 30px;
}

section>h5 {
  font-size: 25px;
  /* background-color: black; */
}


/* frame9 */

#frame9 {
  margin: 10px 0;
}


/* Dropdown Button */
.dropbtn {
  background-color: deepskyblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}